name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  basic-check:
    name: Build, Lint, Vet
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.sha }}

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Disable default go problem matcher
        run: echo "::remove-matcher owner=go::"

      - name: make build-oct
        run: make build-oct

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 10m0s

      - name: make vet
        run: make vet

      - name: Run endpoint verification script
        run: |
          ./scripts/curl-endpoints.sh
